* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(17, 118, 95, 0.986);
}


header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(17, 118, 95, 0.986);
    padding: 10px;
}

nav a:visited,
nav a:link {
    color: white;
    text-decoration: none;
}

nav > ul {
    display: inline;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}

main {
    display: block;
    background-image: url("images/background.jpg");
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

footer {
    padding: 15px;
}

aside, article {
    padding: 2em;
}

aside {
    text-align: center;
}

article {
    width: 75%;
}

@media only screen and (min-width: 768px) {
    main {
      display: flex;
    }

    aside {
        margin-left: 2%;
    }
    
}

.logo {
    border-radius: 50% 50% 50% 50%;
    max-width: 50%;
    display: inline-block; 
    }

.banner {
    max-height:70%;
    max-width: 100%;
   
}

h1 
{
    font-size: 2em;
    margin-top: 0,5em;
    text-align: center;
    background-color: rgb(17, 118, 95, 0.986);
}
.subtitle {
    background-color: rgb(255, 255, 255);
    font-size: 1,5em;
    padding: 1px;
    border: solid 0,2em black;
    margin-top: 0,9em;
}

/*catalogo */
.element {
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    
    background-color: rgb(17, 118, 95, 0.986);
    border: solid 1px ;
    display: inline-block;
    color: white;
}
.imagen-sabanas {
    max-width: 100%;
    max-height: 70%;
}

.element-information {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    margin-bottom: 0,2em;
  
}

.element-information .title {
    font-weight: bold;
} 
                        
.element-information .price {
    text-align: right;
    margin-left: 10px;
} 

.element p  {
    margin-top: 5px;
}

.element  button {
    background-color: rgb(0, 255, 0);
    border: solid 1px rgb(3, 3, 3);
    border-radius: 3px;
    margin-top: 0,5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px; 
    height: 30px;
    margin-top: 5px;
}



/*contacto*/
.contact {
    background-color: rgb(17, 118, 95, 0.986);
    margin-top: 10px;
    border: solid 1px black;
    color: white;
}
.contact a {
    color: rgb(0, 255, 0)
}  

.contact h1 {
    text-align: left;
    font-size: 2em;
    margin-block-end: 5%;
}
.contact p {
    font-size: 1.5em;
}


/*order*/ 
.input-group {
    width : 150px;
    padding: 10px;
    color: black;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}
form {

    width: 300px;
    margin-top: 10px;
    background-color: white;
}
@media only screen and(min-width: 768px) and (max-width: 940px) {
    form {
        width: 100px;
        height: 100px;
    }
}
input {
    border: solid 1px black;
    font-weight: bold;
    font-size: 1.2em;
    background-color: rgb(158, 157, 157);  
}
.order-selected {
    width: 250px;
    padding: 10px;
    background-color: rgb(17, 118, 95, 0.986);
    border: solid 1px ;
    color: white; 
}
.order-selected .price {
    width: 30%;
}
