* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightgoldenrodyellow;
    padding: 10px;
}

nav a:visited,
nav a:link {
    color: black;
    text-decoration: none;
}

nav > ul {
    display: inline;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}

main {
    display: block;
    background-image: url("images/background.jpg");
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

footer {
    padding: 15px;
}

aside, article {
    padding: 2em;
}

aside {
    text-align: center;
}

article {
    width: 75%;
}

@media only screen and (min-width: 768px) {
    main {
        display: flex;
    }

    aside {
        margin-left: 2%;
    }
    
}

.logo {
    max-width: 40%;
    max-height: 40%;
}

.banner {
    max-height: 150%;
    max-width: 100%;
}

h1 
{
    font-size: 1,5em;
    margin-top: 0,5em;
}
.subtitle {
    background-color: rgb(10, 119, 83);
    font-size: 0,9em;
    padding: 1px;
    border: solid 0,2em black;
    margin-top: 0,9em;
}

/*catalogo */
.element {
 width: 250px;
 padding: 10px;
 margin: 10px;
 background-color: darkgreen;
 border: solid 1px ;

}
.imagen-sabanas {
    max-width: 100%;
    max-height: 75%;
}

.element-information {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    margin-bottom: 0,5em;
}

.element-information .title {
    font-weight: bold;
} 
                        
.element-information .price {
    text-align: right;
    
} 

.element  button {
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(255, 255, 255);
    border-radius: 3px;
    margin-top: 0,5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

